<%- layout("/layouts/boilerplate.ejs") %>
<div class="row">
  <div class="col-8 offset-2">
    <br /><br />
    <h3>Create new Listing</h3>
    <form
      method="POST"
      action="/listings"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          name="listing[title]"
          placeholder="enter title"
          required
        />
        <div class="valid-feedback">Title Looks good!</div>
        <div class="invalid-feedback">Please enter title.</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          name="listing[description]"
          placeholder="enter description"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter description.</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input type="file" class="form-control" name="listing[image]" />
        <div class="invalid-feedback">Please enter image/URL.</div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="text"
            class="form-control"
            name="listing[price]"
            placeholder="enter price"
            required
          />
          <div class="invalid-feedback">Please enter valid Price.</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            class="form-control"
            name="listing[country]"
            placeholder="enter country"
            required
          />
          <div class="invalid-feedback">Please enter country.</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
      </div>
      <input
        type="text"
        class="form-control"
        name="listing[location]"
        placeholder="enter location"
        required
      />
      <div class="invalid-feedback">Please enter Location.</div>

      <br /><br />
      <button class="btn btn-dark add-btn">Create</button>
      <br /><br />
    </form>
  </div>
</div>
